@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');
*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: rgba(178, 146, 234, 0.72);
    height: 92vh;
    width: 20vw;
    display: flex;
    justify-content: center;
   animation-name: slide;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
ul{
font-weight: bolder;

}
li{
    /* margin: 20px; */
    text-align: center;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    list-style: none;
   
}
@keyframes slide {
    from{
        width:8vw;
    }
    to{
       width: 20vw;
    }
}